{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <div class="card shadow-lg border-0">
    <div class="card-header bg-primary text-white">
      <h4 class="mb-0">Make payment to {{ doctor.full_name }}</h4>     
    </div>
    <div class="card-body p-4">     
         <p>Total amount due = {{ doctor_payment_obj.total_due_amount }}</p>  
      <form method="post" enctype="multipart/form-data" class="row p-4 ">
        {% csrf_token %}

        {% for field in form %}
        <div class="col-6 col-md-4">
          <label for="{{ field.id_for_label }}" class="form-label fw-semibold">{{ field.label }}</label>
          {{ field|add_class:'form-control' }}
          {% if field.help_text %}
            <small class="text-muted">{{ field.help_text }}</small>
          {% endif %}
          {% if field.errors %}
            <div class="text-danger">{{ field.errors }}</div>
          {% endif %}
        </div>
        {% endfor %}

        <div class="col-12 text-end">
          <button type="submit" class="btn btn-primary">💾 Make Payment</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
