{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}

<div class="container-fluid"> 
    <h3 class="text-center mb-4 fw-bold text-primary">👤 Patient Dashboard</h3>
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-3">
        
        <div class="col">
        <a href="{% url 'prescription:create_ai_prescription' %}" class="card text-decoration-none shadow-sm border-0 h-100">
            <div class="card-body text-center">
            <h6 class="card-title text-success">🤖 Try AI Prescription now</h6>
            <p class="text-muted small mb-0 d-none d-md-block">See the power of AI to auto-generate prescriptions.</p>
            </div>
        </a>
        </div>

         <div class="col">
        <a href="{% url 'symptom_checker:start_symptom_check' %}" class="card text-decoration-none shadow-sm border-0 h-100">
            <div class="card-body text-center">
            <h6 class="card-title text-success">🤖 Talk with Your Ai Doctor</h6>
            <p class="text-muted small mb-0 d-none d-md-block">Talk to your Ai Doctor about your health related issues and get feedback</p>
            </div>
        </a>
        </div>


        <div class="col">
        <a href="{% url 'prescription:available_doctors' %}" class="card text-decoration-none shadow-sm border-0 h-100">
            <div class="card-body text-center">
            <h6 class="card-title text-success">🔍 Search & book Doctor</h6>
            <p class="text-muted small mb-0 d-none d-md-block">Find and book the right doctor easily.</p>
            </div>
        </a>
        </div>

     
        <div class="col">
        <a href="{% url 'prescription:doctor_prescription_list' %}" class="card text-decoration-none shadow-sm border-0 h-100">
            <div class="card-body text-center">
            <h6 class="card-title text-primary">📄 Your Prescriptions</h6>
            <p class="text-muted small mb-0 d-none d-md-block">Access all your previous prescriptions here.</p>
            </div>
        </a>
        </div>

        <div class="col">
        <a href="{% url 'prescription:doctor_bookings_list' %}" class="card text-decoration-none shadow-sm border-0 h-100">
            <div class="card-body text-center">
            <h6 class="card-title text-primary">📚 Your Booking History</h6>
            <p class="text-muted small mb-0 d-none d-md-block">Check your doctor consultation history.</p>
            </div>
        </a>
        </div>

        <div class="col">
        <a href="{% url 'appointments:available_doctors' %}" class="card text-decoration-none shadow-sm border-0 h-100">
            <div class="card-body text-center">
            <h6 class="card-title text-info">🏥 Book doctor chamber appointment</h6>
            <p class="text-muted small mb-0 d-none d-md-block">Book your desired doctor appointment and visit doctor's chamber.</p>
            </div>
        </a>
        </div>

        <div class="col">
        <a href="{% url 'appointments:appointment_list' %}" class="card text-decoration-none shadow-sm border-0 h-100">
            <div class="card-body text-center">
            <h6 class="card-title text-info">🏥 Your Chamber appointment</h6>
            <p class="text-muted small mb-0 d-none d-md-block">Review past chamber visits and follow-ups.</p>
            </div>
        </a>
        </div>

        <div class="col mb-3">
        <a href="{% url 'finance:update_patient_profile' patient.id %}" class="card text-decoration-none shadow-sm border-0 h-100">
            <div class="card-body text-center">
            <h6 class="card-title text-warning">📝 Update your Profile</h6>
            <p class="text-muted small mb-0 d-none d-md-block">Improve diagnosis quality by updating your profile.</p>
            </div>
        </a>
        </div>

    </div>
        


    <div class="row my-2">       
       
        <div class="col-12 table-responsive">       

            <table class="table table-striped">
            <thead class="table-info">
                <tr>
                <th>Prescription Generated by</th>
                <th>Code</th>
                <th>Date</th>
                <th>Symptoms</th>
                <th>Summary</th>
                <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in page_obj %}
                <tr>
                    <td>
                        {% if item.type == 'Doctor' %}
                        <a href="{% url 'finance:doctor_detail' item.prescription.doctor.id %}">{{ item.type }}</a>

                        {% else %}
                        {{ item.type }}
                        {% endif %}
                        
                    </td>
                    
                     <td>{{ item.prescription.ai_prescription_code }}&nbsp;{{ item.prescription.doctor_prescription_code}}</td>
                    <td>{{ item.created_at|date:"Y-m-d H:i" }}</td>
                    <td>{{ item.prescription.symptoms|truncatewords:5 }}&nbsp;{{ item.prescription.booking_ref.symptoms_summary|truncatewords:5 }}</td>
                    <td>
                    {% if item.type == "Doctor" %}
                        {{ item.prescription.advice|truncatewords:5 }}
                    {% else %}
                        {{ item.prescription.advice|truncatewords:5 }}
                    {% endif %}
                    </td>
                    <td> 

                    {% if item.type == "Doctor" %}
                        <a href="{% url 'prescription:doctor_prescription_detail' item.prescription.pk %}" class="btn btn-sm btn-outline-primary">Prescription Timeline</a>
                        <a href="{% url 'prescription:doctor_prescription_detail_single' item.prescription.pk %}" class="btn btn-sm btn-outline-success">View prescription</a>
                       
                    {% else %}
                        <a href="{% url 'prescription:ai_prescription_detail' item.prescription.pk %}" class="btn btn-sm btn-primary">View Ai Presription</a>
                         
                    {% endif %}
                   
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">No prescriptions available.</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
              <!-- Pagination Controls -->
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        </div>
    </div>
</div>
{% endblock %}