

{% extends 'base.html' %}
{% load static %}


{% block content%}

<style>
    .hero-section {
     position: relative;
     width: 100vw;
     margin-left: calc(-50vw + 50%);
     height: 70vh;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     overflow: hidden;
     color: white;
     padding: 0 15px;
     border-bottom: 1px solid #eee;
     animation: fadeInUp 1.5s ease-in-out;
     background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 1)),
     url("/static/images/doctor-1.jpg") center/cover no-repeat;
 }
 
 
 .hero-section::before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 1)),
                 url("/static/images/doctor-1.jpg") center/cover no-repeat;
     z-index: -1;
 }
 
 
 .hero-overlay {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.6);
     z-index: 1;
 }
 
 .hero-content {
     position: relative;
     z-index: 2;
     max-width: 800px;
     margin: 0 auto;
     text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
     animation: fadeInUp 5s ease-in-out infinite;
 }
 
 /* 🔹 Smooth fade-in animation */
 @keyframes fadeInUp {
     from {
         opacity: 0;
         transform: translateY(40px);
     }
     to {
         opacity: 1;
         transform: translateY(0);
     }
 }
 
  
     </style>
 




<div class="container-fluid">    
            
    <section class="hero-section mb-4">
        <div class="hero-overlay"></div>
        <div class="hero-content">
            <h1>Excellence | Compassion | Innovation | Care</h1>
            <p>Advancing Healthcare, Transforming Lives</p>

        </div>
      
        
        <div class="custom-shape-divider-bottom-hero">
            <svg viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M0,0V46.29c47.6,15.4,98.5,27.4,150,24.67,49.6-2.6,97.1-20.73,146.6-27.27,64.5-8.53,129.6,1.84,194,9.39,65.1,7.6,130.8,10.9,196.5,2.53,65.8-8.27,128.9-27.47,192.2-31.1,51.5-3,103.7,4.72,155.2,13.11,51.5,8.4,103.2,17.6,155.5,20.44,45.5,2.51,91.3-.53,136.8-5.39V0Z" fill="#ffffff"></path>
            </svg>
        </div>
    </section>
    
    <div class="d-flex justify-content-center my-5">
        <div class="text-center p-4 rounded shadow-lg bg-light border border-success animate__animated animate__fadeIn">
           <h4 class="fw-bold text-success mb-3">
            <i class="bi bi-cpu"></i> Unlock the Power of AI for Your Prescription
            </h4>

            <p class="text-muted">
            Get unbiased, data-driven recommendations instantly with our advanced AI model.
            </p>
	      <a href="{% url 'prescription:initiate_ai_prescription_payment' %}" class="btn btn-primary btn-lg mt-3">
                <i class="bi bi-robot"></i> Get your Prescription now
              </a>
		

	      <a href="{% url 'symptom_checker:initiate_symptom_check_payment' %}" class="btn btn-primary btn-lg mt-3">
                    <i class="fas fa-stethoscope"></i>&nbsp;Talk to Ai as your Doctor
                </a>


         </div>
      </div>

    
    <h2 class="text-center ">Find a Doctor & Book</h2>
       

    <form id="search-form" method="GET" class="mb-4">
        <div class="row">
            <!-- Search by Name -->
            <div class="col-md-4">
                <input type="text" name="query" class="form-control" placeholder="Search by doctor name" value="{{ query }}">
            </div>
    
            <!-- Search by Specialization -->
            <div class="col-md-4">
                <select name="specialization" class="form-control">
                    <option value="">All Specializations</option>
                    {% for specialization in categorized_doctors.keys %}
                        <option value="{{ specialization }}" {% if specialization == specialization_filter %}selected{% endif %}>
                            {{ specialization }}
                        </option>
                    {% endfor %}
                </select>
            </div>
    
            <!-- Submit Button -->
            <div class="col-md-3 d-grid">
                <button type="submit" class="btn btn-outline-success">Search</button>
            </div>
        </div>
    </form>
    

    <!-- Doctor List -->
    <div class="row">
        
        {% for specialization, doctors in categorized_doctors.items %}
            {% for doctor in doctors %}
            <div class="col-md-4 doctor-card" data-category="{{ specialization }}">
                <div class="mb-3">
                    <div class="text-center p-3">
                        <img src="{{ doctor.photo.url }}" class="rounded-circle"
                                style="width:100px; height:100px;" alt="{{ doctor.name }}">
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title text-primary fw-bold">{{ doctor.full_name }}</h5>
                        <p class="text-muted fw-bold">{{ doctor.specialization }}</p>

                        {% if ai_prescription %}
                        <a href="{% url 'prescription:confirm_booking' ai_prescription.id doctor.id %}" 
				class="btn btn-primary btn-sm mt-2">Select & Book</a>
                        <p><a href="{% url 'prescription:initiate_book_doctor_direct_payment' doctor.id %}">Book Now</a></p>
			{% else %}
			 <p><a href="{% url 'prescription:initiate_book_doctor_direct_payment' doctor.id %}">Book now</a></p>
                        
                        {% endif %}

                        <p class="card-text text-secondary" style="font-size: 14px;">
                            {{ doctor.description|truncatewords:25 }}...
                     
                        <button class="btn btn-sm read-more" data-bs-toggle="modal" data-bs-target="#doctorModal{{ doctor.id }}">
                            Read More
                        </button>
                    </p>

                    <a href="{% url 'finance:doctor_detail' doctor.id %}" class="btn btn-sm btn-outline-success">Doctor detail</a>
                       

                    </div>
                </div>
            </div>               
            
       <!-- Doctor Details Modal -->
            <div class="modal fade" id="doctorModal{{ doctor.id }}" tabindex="-1" aria-labelledby="doctorModalLabel{{ doctor.id }}" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header bg-primary text-white">
                            <h5 class="modal-title" id="doctorModalLabel{{ doctor.id }}">Dr &nbsp;{{ doctor.full_name }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="text-center mb-3">
                                <img src="{{ doctor.photo.url }}" alt="{{ doctor.name }}" class="rounded-circle border shadow" style="width: 120px; height: 120px;">
                            </div>
                            <h4 class="text-center text-primary">{{ doctor.specialization }}</h4>
                            <p class="text-center"><strong>License No:</strong> {{ doctor.medical_license_number }}</p>
                            <hr>
                            <div class="row">
                                <div class="col-md-6">
                                    <p><strong>Experience:</strong> {{ doctor.experience_years }} years</p>
                                    <p><strong>Education:</strong> {{ doctor.education }}</p>
                                    <p><strong>Consultation fees:</strong> {{ doctor.consultation_fees }}</p>
                                    <p><strong>Follow-up Consultation fees:</strong> {{ doctor.folloup_consultation_fees }}</p>
                                    <p><strong>Follow-up validation:</strong> {{ doctor.followup_validity_days}}&nbsp;days</p>
                                </div>
                                <div class="col-md-6">
                                    <p><strong>Available Time:</strong> {{ doctor.start_time|default:"Not available" }} - {{ doctor.end_time|default:"Not available" }}</p>
                                    <p><strong>Hospital Affiliations:</strong> {{ doctor.hospital_affiliations }}</p>
                                    <p><strong>Memberships:</strong> {{ doctor.memberships }}</p>
                                    <p><strong>Awards:</strong> {{ doctor.awards }}</p>
                                </div>
                            </div>
                            <hr>
                            <p><strong>About:</strong></p>
                            <div class="text-muted justify-content" style="text-align: justify;" id="doctorDescription{{ doctor.id }}">
                                {{ doctor.description|truncatewords:30 }} 
                                <span id="moreText{{ doctor.id }}" style="display: none; white-space: pre-line;">{{ doctor.description }}</span>
                            </div>
                            <a href="javascript:void(0);" onclick="toggleDescription('{{ doctor.id }}')" id="readMoreBtn{{ doctor.id }}"> Read More</a>

                        </div>
                        <div class="modal-footer d-flex justify-content-between bg-info">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- end of modal -->
            {% endfor %}            
        {% endfor %}
        </div>
        <!-- end of doctors list row -->


</div>

<!-- end of main container -->







<script>
    function toggleDescription(doctorId) {
        var moreText = document.getElementById("moreText" + doctorId);
        var btnText = document.getElementById("readMoreBtn" + doctorId);
        var description = document.getElementById("doctorDescription" + doctorId);

        if (moreText.style.display === "none") {
            moreText.style.display = "block";  // Show full content
            btnText.innerHTML = " Read Less";
        } else {
            moreText.style.display = "none";  // Collapse back
            description.innerHTML = "{{ doctor.description|truncatewords:30 }} <a href='javascript:void(0);' onclick='toggleDescription(\"" + doctorId + "\")' id='readMoreBtn" + doctorId + "'> Read More</a>";
        }
    }
</script>



<script>
    document.addEventListener("DOMContentLoaded", function () {
        let searchForm = document.getElementById("search-form");

        searchForm.addEventListener("submit", function () {
            setTimeout(() => {
                document.querySelector('input[name="query"]').value = ""; // Clear name search field
                document.querySelector('select[name="specialization"]').selectedIndex = 0; // Reset specialization dropdown
            }, 100); // Small delay to allow form submission
        });
    });
</script>



    

{% endblock %}
