{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h4>Follow-up Prescription Detail</h4>
        </div>
        <div class="card-body">
            <p><strong>Patient:</strong> {{ prescription.patient.full_name }}</p>
            <p><strong>Doctor:</strong> {{ prescription.doctor.full_name }}</p>
            <p><strong>Date:</strong> {{ prescription.prescribed_at|date:"d M Y, h:i A" }}</p>

            <hr>

            <h5>Diagnosis</h5>
            <p>{{ prescription.diagnosis|linebreaks }}</p>

            <h5>Advice</h5>
            <p>{{ prescription.advice|linebreaks }}</p>


                        
            {% if medicines %}
            <hr>
            <h5 class="mt-4">Prescribed Medicines</h5>
            <table class="table table-bordered mt-2">
                <thead class="table-light">
                <tr>
                    <th>Medicine</th>
                    <th>Dosage</th>
                    <th>Schedule</th>
                    <th>Duration (days)</th>
                    <th>Instructions</th>
                </tr>
                </thead>
                <tbody>
                {% for med in medicines %}
                <tr>
                    <td>{{ med.get_display_name }}</td>
                    <td>{{ med.dosage }}</td>
                    <td>{{ med.dosage_schedule }}</td>
                    <td>{{ med.medication_duration }}</td>
                    <td>{{ med.instructions|default:"-" }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}

            
            {% if lab_tests %}
        <hr>
            <h5 class="my-4">Suggested Lab Tests</h5>
            
            <ul>
            {% for test in lab_tests %}
                <li>🧪 {{ test.get_display_name }}</li>
            {% endfor %}
            </ul> 
        {% endif %}


            <hr>
            <p><strong>Follow-up Booking Code:</strong> {{ followup.booking_code }}</p>
        </div>
	 <div class="d-flex justify-content-between">
        <a href="{% url 'prescription:doctor_followup_prescription_pdf' prescription.id %}" class="btn btn-secondary">Download</a>
        <a href="{% url 'prescription:followup_up_booking_request_list' %}" class="btn btn-secondary">Back to List</a>
      </div>

    </div>
</div>
{% endblock %}
