{% extends 'base.html' %}
{% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card shadow rounded-4">
        <div class="card-body p-4">
          <h3 class="text-success mb-4">
            <i class="bi bi-journal-medical"></i> Follow-up Booking Details
          </h3>

          <div class="row">
            <!-- Patient Information -->
            <div class="col-md-6 mb-3">
              <h5 class="text-primary">Patient Information</h5>   

            <a href="{% url 'finance:patient_detail' booking.doctor_booking.patient.id %}" class="d-flex text-decoration-none text-dark w-100">        
              <p class="mb-1 d-flex align-items-center gap-2">  
                 <strong class="me-1">Patient Name:</strong> 
                <span>{{ booking.doctor_booking.patient.full_name }}</span>            
                {% if booking.doctor_booking.patient.user.photo_id %}
                  <img src="{{ booking.doctor_booking.patient.user.photo_id.url }}" alt="Patient Photo"
                      style="width: 40px; height: 40px; object-fit: cover;" class="rounded-circle border" />
                {% endif %}              
              </p>
            </a>

              <p class="mb-1"><strong>Age:</strong> {{ booking.doctor_booking.patient.age }} | <strong>Gender:</strong> {{ booking.patient.gender }}</p>
               <p class="mb-1"><strong>Body weight:</strong> {{ booking.doctor_booking.patient.body_weight }}kg |  {{ booking.patient.body_weight_unit }}</p>
              <p class="mb-1"><strong>Body height:</strong> {{ booking.doctor_booking.patient.body_height }}cm |  {{ booking.patient.body_height_unit }}</p>
              <p class="mb-1"><strong>Phone:</strong> {{ booking.doctor_booking.patient.phone }}</p>
              <p class="mb-1"><strong>Location:</strong> {{ booking.doctor_booking.location }}</p>
              {% if booking.symptom_image %}
                <p class="mb-1"><strong>Spot Image:</strong><br>
                  <a href="{{ booking.symptom_image.url }}" target="_blank">
                    <img src="{{ booking.symptom_image.url }}" class="img-thumbnail mt-2" style="width: 50%; height:auto; border-radius: 10%;">
                  </a>
                </p>
              {% endif %}
              {% if booking.symptom_video %}
            <p class="mb-1"><strong>Spot Video:</strong><br>
              <a href="{{ booking.symptom_video.url }}" target="_blank">
                <video class="mt-2" style="width: 50%; height: auto; object-fit: cover;border-radius: 10%" controls muted>
                  <source src="{{ booking.symptom_video.url }}" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </a>
            </p>
          {% endif %}

            </div>

            <!-- Booking & Medical Info -->
            <div class="col-md-6 mb-3">
              <h5 class="text-primary">Booking & Medical Info</h5>

               <a href="{% url 'finance:doctor_detail' booking.doctor_booking.doctor.id %}" class="d-flex text-decoration-none text-dark w-100">
                <p class="mb-1 d-flex align-items-center gap-2">  
                 <strong class="me-1">Doctor Name:</strong> 
                <span>{{ booking.doctor_booking.doctor.full_name }}</span>            
                {% if booking.doctor_booking.doctor.photo %}
                  <img src="{{ booking.doctor_booking.doctor.photo.url }}" alt="Patient Photo"
                      style="width: 40px; height: 40px; object-fit: cover;" class="rounded-circle border" />
                {% endif %}              
              </p>
            </a>
             
              <p class="mb-1"><strong>Requested Time:</strong> {{ booking.proposed_followup_datetime }}</p>
              <p class="mb-1"><strong>Doctor Approved:</strong> {{ booking.approved_followup_datetime|default:"—" }}</p>

              <p class="mb-1"><strong>Patient Initial Symptom:</strong> {{ booking.doctor_booking.symptoms_summary }}</p>
	           <p class="mb-1"><strong>Duration:</strong> {{ booking.doctor_booking.duration }}</p>
	           <p class="mb-1"><strong>Patient current status:</strong> {{ booking.patient_Current_status }}</p>
              <p class="mb-1"><strong>Medical History:</strong> {{ booking.doctor_booking.medical_history }}</p>
              <p class="mb-1"><strong>Allergies:</strong> {{ booking.doctor_booking.patient.allergies }}</p>
              <p class="mb-1"><strong>Current Medications:</strong> {{ booking.doctor_booking.current_medications }}</p>
              <p class="mb-1"><strong>Vital Signs:</strong> {{ booking.doctor_booking.vital_signs }}</p>
              <p class="mb-1"><strong>Status:</strong> 
                <span class="badge {% if booking.status == 'completed' %}bg-success{% else %}bg-warning text-dark{% endif %}">
                  {{ booking.status }}
                </span>
              </p>
 		          {% if booking.followup_lab_files.exists %}
                  <div class="mt-3">
                    <strong>Uploaded Lab Files:</strong>
                    <div class="d-flex flex-wrap gap-3 mt-2">
                      {% for file in booking.followup_lab_files.all %}
                        <div>
                          <a href="{{ file.file.url }}" target="_blank">
                            <img src="{{ file.file.url }}" class="img-thumbnail" style="width: 200px; border-radius: 10%;">
                          </a>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                  {% else %}
                  <span>No Lab files uploaded</span>
                {% endif %}
            </div>
          </div>

          <hr>

          <div class="d-flex justify-content-between align-items-center">
            {% if booking.doctor_booking.ai_prescription %}
            <span class="text-muted">
                <a href="{% url 'prescription:ai_prescription_detail' booking.doctor_booking.ai_prescription.id %}" 
                class="btn bn-sm btn-outline-success">Patient AI Prescription</a></span>
                {% else %}
                <span class="btn btn-sm btn-outline-success">no Ai Prescription</span>
            {% endif %}


         
            {% if booking.status == 'completed' %}
                <span class="text-primary">
                {% if booking.doctor_booking.doctor_booking_refs %}
                    {% with booking.doctor_booking.doctor_booking_refs.first as prescription %}
                          {% if prescription %}
                           <a href="{% url 'prescription:doctor_prescription_detail' prescription.id %}"
                           class="btn btn-sm btn-outline-success">
                              View Prescription</a>
                          {% else %}
                            <span>No Prescription Found</span>
                          {% endif %}
                       {% endwith %}   
                {% endif %}   
	               </span>
            {% else %}
            <a href="{% url 'prescription:create_followup_doctor_prescription' booking.doctor_booking.id booking.id %}"
            class="btn btn-sm btn-outline-success">Doctor to Prescribe</a>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
