{% extends "base.html" %}
{% block content %}



<div class="container-fluid py-4 px-0" style="margin-left:0px;margin-right: 0px;">

 <h3 class="text-center mb-4 fw-bold text-primary">👤 Doctor Dashboard</h3>
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-3">
        
        <div class="col">
        <a href="{% url 'prescription:create_ai_prescription' %}" class="card text-decoration-none shadow-sm border-0 h-100">
            <div class="card-body text-center">
            <h6 class="card-title text-success">🤖 Try AI Prescription Now</h6>
            <p class="text-muted small mb-0 d-none d-md-block">See the power of AI to auto-generate prescriptions.</p>
            </div>
        </a>
        </div>

         <div class="col">
        <a href="{% url 'symptom_checker:start_symptom_check' %}" class="card text-decoration-none shadow-sm border-0 h-100">
            <div class="card-body text-center">
            <h6 class="card-title text-success">🤖 Talk with Your Ai Doctor</h6>
            <p class="text-muted small mb-0 d-none d-md-block">Talk to your Ai Doctor and get insights of issues</p>
            </div>
        </a>
        </div>


        <div class="col">
        <a href="{% url 'prescription:available_doctors' %}" class="card text-decoration-none shadow-sm border-0 h-100">
            <div class="card-body text-center">
            <h6 class="card-title text-success">🔍 Search Doctors</h6>
            <p class="text-muted small mb-0 d-none d-md-block">Find and book the right doctor easily.</p>
            </div>
        </a>
        </div>

     
        <div class="col">
        <a href="{% url 'prescription:doctor_prescription_list' %}" class="card text-decoration-none shadow-sm border-0 h-100">
            <div class="card-body text-center">
            <h6 class="card-title text-primary">📄 Your Prescriptions</h6>
            <p class="text-muted small mb-0 d-none d-md-block">Access all your previous prescriptions here.</p>
            </div>
        </a>
        </div>

        <div class="col">
        <a href="{% url 'prescription:doctor_bookings_list' %}" class="card text-decoration-none shadow-sm border-0 h-100">
            <div class="card-body text-center">
            <h6 class="card-title text-primary">📚 Your Booking History</h6>
            <p class="text-muted small mb-0 d-none d-md-block">Check your booking consultation history.</p>
            </div>
        </a>
        </div>
          <div class="col">
        <a href="{% url 'appointments:available_doctors' %}" class="card text-decoration-none shadow-sm border-0 h-100">
            <div class="card-body text-center">
            <h6 class="card-title text-info">🏥 Book doctor chamber appointment</h6>
            <p class="text-muted small mb-0 d-none d-md-block">Book your desired doctor appointment and visit doctor's chamber.</p>
            </div>
        </a>
        </div>

        <div class="col">
        <a href="{% url 'appointments:appointment_list' %}" class="card text-decoration-none shadow-sm border-0 h-100">
            <div class="card-body text-center">
            <h6 class="card-title text-info">🏥 Your Chamber appointment</h6>
            <p class="text-muted small mb-0 d-none d-md-block">Review Patient past chamber visits and follow-ups.</p>
            </div>
        </a>
        </div>
    </div>
   
    {% if request.user.is_staff %}
     <a href="{% url 'finance:create_manual_doctor_payment' doctor.id%}" class="btn btn-sm btn-outline-primary">Make Doctor Payment</a>
     {% endif %}
     
     <div class="row mt-5" style="margin-left:0px;margin-right: 0px;">
          <h2 class="mb-4">My Earnings Dashboard</h2>       
          <form method="get" class="mb-3">
              <div class="row">
                <div class="col-md-4">
                  <label>Start Date</label>
                  <input type="date" name="start_date" value="{{ start_date }}" class="form-control">
                </div>
                <div class="col-md-4">
                  <label>End Date</label>
                  <input type="date" name="end_date" value="{{ end_date }}" class="form-control">
                </div>
                <div class="col-md-4 d-flex align-items-end">
                  <button type="submit" class="btn btn-primary w-100">Filter</button>
                </div>
              </div>
            </form>

              <div class="col-md-4">
                  <div class="card text-white bg-success mb-3">
                      <div class="card-body">
                          <h5 class="card-title">Total Earned</h5>
                          <p class="card-text fs-4">৳ {{ total_due }}</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card text-white bg-primary mb-3">
                      <div class="card-body">
                          <h5 class="card-title">Total Paid</h5>
                          <p class="card-text fs-4">৳ {{ total_paid }}</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card text-white bg-danger mb-3">
                      <div class="card-body">
                          <h5 class="card-title">Pending Payment</h5>
                          <p class="card-text fs-4">৳ {{ total_unpaid }}</p>
                      </div>
                  </div>
              </div>

              <div class="col-md-4">
                <div class="card text-white bg-info mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Chamaber visit revenue</h5>
                        <p class="card-text fs-4">৳ {{ total_chamber_visit_fees }}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card text-white bg-info mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Chamaber consultation Count</h5>
                        <p class="card-text fs-4"> {{ chamber_prescriptions.count }}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card text-white bg-info mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Chamaber consultation Pending </h5>
                        <p class="card-text fs-4"> {{ pending_Chamber_appointments.count }}</p>
                    </div>
                </div>
            </div>


        </div>



        <div class="col-12 table-responsive">          
          <h4>Payment History</h4>
          <table class="table table-bordered table-hover">
              <thead class="table-dark">
                  <tr>
                      <th>#</th>
                      <th>Date</th>
                      <th>Total Due</th>
                      <th>Paid</th>
                      <th>Method</th>
                      <th>Transaction ID</th>
                      <th>Status</th>
                      <th>Remarks</th>
                  </tr>
              </thead>
              <tbody>
                  {% for payment in payouts %}
                  <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ payment.payment_date }}</td>
                      <td>৳ {{ payment.total_due_amount }}</td>
                      <td>৳ {{ payment.total_paid_amount }}</td>
                      <td>{{ payment.payment_method }}</td>
                      <td>{{ payment.transaction_id }}</td>
                      <td>
                          {% if payment.is_paid %}
                              <span class="badge bg-success">Paid</span>
                          {% else %}
                              <span class="badge bg-warning text-dark">Due</span>
                          {% endif %}
                      </td>
                      <td>{{ payment.remarks|default:"-" }}</td>
                  </tr>
                  {% empty %}
                  <tr>
                      <td colspan="8" class="text-center">No payment records found.</td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>



 <h2 class="mt-5 text-center">My Appointments Dashboard</h2>
  <div class="row">

    <div class="col-md-4">
      <div class="card text-white bg-primary mb-3 shadow">
        <div class="card-body">
          <h5 class="card-title">Total Parent Appointments</h5>
          <p class="card-text fs-4">{{ appointments.count }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-white bg-success mb-3 shadow">
        <div class="card-body">
          <h5 class="card-title">Prescriptions Given including followup booking</h5>
          <p class="card-text fs-4">{{ prescriptions.count }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-white bg-info mb-3 shadow">
        <div class="card-body">
          <h5 class="card-title">Pending Parent Appointments</h5>
          <p class="card-text fs-4">
            {{ pending_appointments|length }}
          </p>
        </div>
      </div>
    </div>

  </div>




  <div class="card mt-4 shadow">
    <div class="card-header bg-light">
      <strong class="text-primary">Recent Appointments</strong>
    </div>
    <div class="card-body p-4">
      <div class="col-12 table-responsive">
      <table class="table table-hover mb-0">
        <thead class="table-info">
          <tr>
            <th>#</th>
            <th>Patient</th>
             <th>Parent booking</th>
            <th>Follow up bookings</th>
            <th>Date</th>
            <th>Status</th>
           
          </tr>
        </thead>
        <tbody>
          {% for appointment in page_obj|slice:":5" %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ appointment.patient.full_name }}</td>
              <td>{{ appointment.booking_code}}</td>
              <td>
                {% if appointment.doctor_folloup_bookings.exists %}
                 <a href="{% url 'prescription:all_follow_up_schedules' appointment.id %}"class="badge bg-primary">followup schedules</a>
                 {% else %}
                 <span>No followup booking yet</span>
                 {% endif %}
              </td>
              <td>{{ appointment.created_at|date:"M d, Y H:i" }}</td>
              <td>
            {% if appointment.status == 'pending' %}              
                <span class="badge bg-warning text-dark">
                  {{ appointment.status|capfirst }}
                </span>
                 <a href="{% url 'prescription:doctor_booking_detail' appointment.id %}" 
		     class="badge bg-primary">View and Prescribe</a>

              {% if appointment.video_link %}
                <a href="{{ appointment.video_link }}" class="badge bg-success" target="_blank">
                  Join Video Call
               {% endif %}
               

            {% elif appointment.status == 'completed' %}            
              <span class="badge bg-success">
                {{ appointment.status|capfirst }}
              </span>
              <a href="{% url 'prescription:doctor_prescription_detail' appointment.doctor_booking_refs.first.id %}"
              class="badge bg-primary"> View</a>
              
            {% else %}
              <span class="badge bg-secondary">
                {{ appointment.status|capfirst }}
              </span>
            {% endif %}
          {% if appointment.ai_prescription %}
          <a href="{% url 'prescription:ai_prescription_detail' appointment.ai_prescription.id %}"
            class="badge bg-primary">View AI</a>
        {% endif %}

          </td>

            </tr>
          {% empty %}
            <tr>
              <td colspan="4" class="text-center">No recent appointments found.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <!-- Pagination Controls -->
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
      </div>
    </div>
  </div>



</div>
{% endblock %}
