{% extends 'base.html' %}
{% block content %}

<div class="container">
    <a href="{% url 'prescription:create_ai_prescription' %}"class="text-center btn btn-sm btn-outline-success">See the power of Ai </a>
    <a href="{% url 'prescription:doctor_bookings_list' %}" class="btn btn-sm btn-outline-primary">Your appointments</a>
    <a href="{% url 'prescription:available_doctors' %}" class="btn btn-sm btn-outline-success">Search & Book doctor</a>
    <a href="{% url 'prescription:doctor_bookings_list' %}" class="btn btn-sm btn-outline-success">Create Followup Schedule with doctor</a>
    <a href="{% url 'prescription:doctor_prescription_list'%}" class="btn btn-sm btn-outline-primary">Your Prescription</a>

    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="col-12 table-responsive">              
                <h2>Your follow-up Appointments</h2>
                <table class="table">
                    <thead class="table-info">
                        <tr>
                            <th>Parent booking</th>
                            <th>Patient</th>
                            <th>Followup booking code</th>
                            <th>Patient current status</th>
                            <th>Requested meeting time</th>
                            <th>Doctor approved time</th>
                             <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for booking in page_obj %}
                        <tr>
                            <td>{{ booking.doctor_booking.booking_code }}</td>
                            <td>{{ booking.doctor_booking.patient.full_name }}</td>
                            <td>
	                        <a href="{% url 'prescription:doctor_followup_booking_detail' booking.id %}"><i class="fas fa-eye"></i>
                                  {{ booking.booking_code }}
                                </a>
			    </td>

                            <td>{{ booking.patient_Current_status }}</td>
                            <td>{{ booking.proposed_followup_datetime }}</td>
                            <td>{{ booking.approved_followup_datetime }}</td>
                            <td>{{ booking.status }}</td>
                            <td>   
                                

                                {% if booking.status == 'pending' %}    
                                  <a href="{% url 'prescription:aprove_doctor_followup_booking' booking.id %}" class="btn btn-sm btn-outline-success">Doctor to approve</a>   
                                  {% elif booking.status == 'confirmed' %}     
                                 <a href="{% url 'prescription:create_followup_doctor_prescription' booking.doctor_booking.id booking.id %}" class="btn btn-sm btn-outline-primary">Doctor to Prescribe</a>  
                                  {% elif booking.status == 'completed' %}       
                                <span class="fas fa-check fw-bold text-success">Followup Scheduled Completed</span>                                 
                                   {% elif booking.status == 'cancelled' %}       
                                <span class="fas fa-check fw-bold text-success">Followup Scheduled Cancelled</span>                                 
                                {% endif %}       
                                    
                           
                                {% if booking.zoom_folloup_schedule and booking.zoom_folloup_schedule.status == 'pending' %}
                                <a href="{% url 'prescription:approve_zoom_meeting' booking.zoom_folloup_schedule.id %}" class="btn btn-sm btn-outline-primary">Doctor to approve Conf Call</a>  
                                   {% elif booking.zoom_folloup_schedule.status == 'approved' %}  
                                   {% if booking.status != 'completed' %}
                                     <a href="{{ booking.zoom_folloup_schedule.zoom_meeting_link }}" class="btn btn-sm btn-outline-primary" target="_blank">Click to start Conf</a>
                                     {% endif %}
                                    
                                  {% elif booking.zoom_folloup_schedule.status == 'executed' %}
                                <span class="fas fa-check fw-bold text-success">Video Conf done</span>
                                    {% elif booking.zoom_folloup_schedule.status == 'rejected' %}
                                <span class="fas fa-check fw-bold text-success">Video call rejected</span>
                                {% else %}
                                    {% if request.user.role == 'patient' %}
                                <a href="{% url 'prescription:request_zoom_meeting' booking.id %}" class="btn btn-sm btn-outline-success">Request Video Consultation</a>  
                                    {% endif %}   
                                {% endif %}    
                                                            
                             
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4">No bookings found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                  <!-- Pagination Controls -->
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
                  </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
